.main{
  display: flex;
  flex-direction: column;
  column-gap: 10%;
  align-items: center;
  text-align: center;
  background: "#dcf3e6";
  height: 100vh;
  width: 100vw;
}

.logo{
  width: 15rem;
}

.bio{
  
}

.messageContainer{
  background-color:rgb(255, 255, 255);
  height: 50vh;
  width: 80vw;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}